<div class="paikka">
  <h1><%= data.properties.Paikka %></h1>
</div>

<div class="kuvaus"><%= data.properties.Kuvaus %></div>

<div class="kalastus">
  <h3>Kuvaus</h3>
  <p><%= data.properties.Kalastus %></p>
</div>

<div class="kalasto">
  <h3>Kalasto</h3>
  <p><%= data.properties.Kalasto %></p>
</div>

<div class="veneenlasku">
  <h3>Veneenlasku</h3>
  <p><%= data.properties.Veneenlask %></p>
</div>

<% if(data.weather) { %>
<div class='weather'>
  <ul>
    <li>Temperature: <%= data.getTemp(data) %></li>
    <li>Wind speed: <%= data.getWind(data) %></li>
    <li><%= data.getDesc(data) %></li>
  </ul>
</div>
<% } %>

<button id="close"><i class="fa fa-times"></i></button>
