<div id="tip1" class="tip">
  <h2>Weather is everything</h2>
  <p><em>General tips</em></p>

  <p>An overcast sky can lead to some of the most successful fishing trips.  While you can still catch fish in other weather conditions, an overcast sky has proven to be the best.</p>
</div>

<div id="tip2" class="tip">
  <h2>Get a fishing license</h2>
  <p><em>General tips</em></p>

  <p>Remember, before you go fishing, you need to purchase your fishing license and to check your state fishing regulations.</p>
</div>

<div id="tip3" class="tip">
  <h2>Boat or Shoreline Fishing: Basics</h2>
  <p><em>General tips</em></p>

  <p>Are you going to be fishing from the shore or from a boat? The fishing techniques you will need to employ may differ. Here are a few things to consider:

  Shoreline- Is the shoreline clear enough for you to have lake access? Is the shoreline shared with a swimming area? Does the lake have ample ideal fishing spots along the accessible shore (i.e. shade, lily pads, down stumps)?

  Boat fishing- Does the lake you select have a boat launch? Will you need to rent a boat? If you already have one, is it a size suiting to the lake you select?</p>
</div>
