<div class="logo">
  <img src="./img/logo.png">
</div>
<div class="menu">
  <button id="pull"><i class="fa fa-bars"></i></button>
  <ul>
    <li>
      <a href='/' data-local>
        <img src="./img/map.png">
        <h4>Find fishing spots</h4>
        <p>Find the best fishing spots for you</p>
      </a>
    </li>
    <li>
      <a href='/share' data-local>
        <img src="./img/pic.png">
        <h4>Share your fish</h4>
        <p>Share pictures of your prey</p>
      </a>
    </li>
    <li>
      <img src="./img/profile.png">
      <h4>Fishing profile</h4>
      <p>See your fish score and pictures</p>
    </li>
    <li>
      <a href='/tips' data-local>
        <img src="./img/tips.png">
        <h4>Fishing tips</h4>
        <p>Learn to fish better</p>
      </a>
    </li>
    <li>
      <img src="./img/info-baltic.png">
      <h4>Baltic Sea fishing</h4>
      <p>Info about fishing in the Baltic Sea</p>
    </li>
    <li>
      <a href='/about' data-local>
        <h4><i class="fa fa-info-circle"></i>More info about the app</h4>
      </a>
    </li>
  </ul>
</div>
